/* @font-face {
  font-family: "SF Pro Display";
  src: url("/path-to-your-fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("/path-to-your-fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "SF Pro Icons";
  src: url("/path-to-your-fonts/SF-Pro-Icons.woff2") format("woff2"),
    url("/path-to-your-fonts/SF-Pro-Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
